#panel {
    -fx-background-image: url(/images/MainMenu1c.jpg);
    -fx-background-size: 100% 100%;
}

.button {
    -fx-font-size: 44px;
    -fx-font: Verdana;
    -fx-text-align: center;
}

.label {
    -fx-font: 36px "Verdana";
    -fx-color: black;
}